<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quam ipsum neque recusandae nam quos doloribus dolore harum reprehenderit iure, itaque quaerat quia fugiat cumque? Magni, eveniet debitis quidem, odio maiores pariatur maxime, placeat consectetur soluta omnis rem perspiciatis recusandae in quibusdam optio dolore facilis voluptatum. Nesciunt illo earum repellendus.</P>
</body>
</html>